{% extends "/html/base.html" %}
{% block content %}
<ul>
               <li class="dropdown-header">Links</li>
               <li><a href="http://cryogenweb.org/docs/home.html">Cryogen Docs</a></li>
               <li><a href="http://carmenla.me/blog/archives">Carmen's Blog</a></li>
               {% for page in sidebar-pages %}
               <li><a href="{{page.uri}}">{{page.title}}</a></li>
               {% endfor %}

               {% if latest-posts|not-empty %}
               <li class="divider"></li>
               <li class="dropdown-header">Recent Posts</li>
               {% for post in latest-posts %}
               <li><a href="{{post.uri}}">{{post.title}}</a></li>
               {% endfor %}
               {% endif %}

               {% if tags|not-empty %}
               <li class="divider"></li>
               <li class="dropdown-header">Tags</li>
               {% for tag in tags %}
               <li><a href="{{tag.uri}}">{{tag.name}}</a></li>
               {% endfor %}
               {% endif %}
               </ul>
               
               
               
            <ul>
                <li {% if home %} class="active" {% endif %}><a href="{{index-uri}}">Home</a></li>
                <li
                {% if archives %} class="active" {% endif %}><a href="{{archives-uri}}">Archives</a></li>
                {% for nav-page in navbar-pages %}
                <li
                {%ifequal page.uri nav-page.uri %} class="active" {% endifequal %}>
                <a href="{{nav-page.uri}}">{{nav-page.title}}</a>
                </li>
                {% endfor %}
                <li><a href="{{rss-uri}}">RSS</a></li>


            </ul>
{% endblock %}